* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

:root {
    --primary-color: #10375C;
}

/* ====================================== [ COMMON ] ====================================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    border: 1px solid #2E80CE;
    border-radius: 30px;
    background: #2E80CE;
    color: #FFF;
    height: var(--height);
    line-height: var(--height);
    padding: 0 20px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}

.section-desc {
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

/* ====================================== [ HEADER ] ====================================== */
.header {
    min-height: 100vh;
    background: var(--primary-color);
    padding-top: 30px;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    background: #2E80CE;
    width: 3em;
    height: 3em;
}

.logo__circle::after {
    position: absolute;
    background: #fff;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
}

.logo__text {
    display: flex;
    flex-direction: column;
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    color: #fff;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    text-align: right;
    font-size: 1.4em;
    font-weight: 300;
}

/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link:hover,
.navbar__link--active {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    display: inline-block;
    background: #FFF;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

.header-action__login {
    margin-right: 7px;
}

/* ====================================== [ HERO ] ====================================== */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem; /* 114.286% */
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    margin-right: -6px;
    z-index: 1;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ====================================== [ HEADER ] ====================================== */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    width: 470px;
    border-radius: 10px;
    background: #FFF;
    padding: 22px;
    display: flex;
    align-items: flex-start;
    transition: 0.25s;
}

.service-item:hover {
    /* các item dính sát vào nhau nên sẽ che đi các box-shadow cạnh dưới, thêm relative để nó đc định vị và hiển thị lên trên */
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2E80CE;
    color: #FFFFFF;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #10375C;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.service__btn {
    margin-top: 55px;
}

/* ====================================== [ HOW IT WORK ] ====================================== */
.work {
    background: #F6FBFF;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work-item {
    padding: 44px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2E80CE;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem; /* 138.462% */
}

.work-item__desc,
.work-item__more {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
}

.work-item__more {
    color: #2E80CE;
}

.work-item__desc {
    margin: 28px 0 18px;
}

/* ====================================== [ FEATURE ] ====================================== */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    column-gap: 130px;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    width: 48%;
    flex-shrink: 0;
}

.feature__images {
    position: relative;
    padding-bottom: 121px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__desc {
    margin-top: 18px;
    margin-bottom: 38px;
}

/* ====================================== [ MEMBER | Our virtual dentist ] ====================================== */
.member {
    padding: 85px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    padding-top: 28px;
    background: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__img {
    display: block;
    width: 262px;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
}

.member-item__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem; /* 175% */
}

.member-item__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem; /* 185.714% */
}

.member__control {
    margin-top: 38px;
    column-gap: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control__btn {
    border: 1px solid #575F66;
    outline: none;
    background: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.control__btn:hover {
    cursor: pointer;
    background: #2E80CE;
    border-color: #2E80CE;
    color: #FFFFFF;
}

.control-next-icon {
    rotate: 180deg;
}

/* ====================================== [ Install App ] ====================================== */
.install {
    margin-top: 180px;
}

.install__inner {
    border-radius: 4px;
    background: #2E80CE;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.install__img {
    margin-top: -95px;
    width: 284px;
    height: 522px;
    display: block;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading {
    max-width: 489px;
    color: #FFF;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
}

.install__desc {
    max-width: 586px;
    margin-top: 18px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

.install__btn-img {
    object-fit: cover;
}
