* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --bg-color: #fffcf4;
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

/* =================================== COMMON ================================== */
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 6.8rem; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 4.8rem; /* 126.316% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-line);
    overflow: hidden;
}

.work-break-all {
    word-break: break-all;
}

/* =================================== HEADER ================================== */
.header {
    width: 100%;
    background: var(--bg-color);
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem; /* 175% */
}

.nav li a {
    position: relative;
}

.nav li.active a,
.nav a:hover {
    /* font-weight: 600;  -> dày lên sẽ làm đẩy các element ra */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 5px;
    left: 21px;
    display: block;
    content: '';
    background-color: #171100;
    height: 2px;
    width: 12px;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* =================================== HERO ================================== */
.hero {
    padding-top: 56px;
    background: #FFFCF4;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
}

/* Hero left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    object-position: 80% 100%;
    border-radius: 20px;

    /* Với các thẻ inline thì nó sẽ auto chừa thêm 1 tí khoảng dư bên dưới cho các kí tự có chân như (y,g,...).
     để xóa behavior này thì có thể cho nó display-block hoặc vertical-align bottom. */
    display: block /* OR: vertical-align: bottom; */
}

.hero-summary {
    padding: 24px;
    width: 270px;
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .icon {
    --icon-bg-color: #FFF9E8;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--icon-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.info .title {
    --max-line: 1;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

/* Hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.content-block .cta-group {
    margin: 38px 0 48px 0;
    display: flex;
    align-items: center;
    gap: 28px;
}

.hero-cta {
    min-width: 180px;
    background: var(--primary-color);
    line-height: 64px;
}

.hero .watch-video {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .stats {
    margin-top: 8px;
}

.hero .watch-video .desc {
    margin-top: 0;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .stats strong {
    padding-right: 8px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 5.4rem; /* 122.727% */
}

.hero .stats strong:nth-child(2) {
    padding-left: 28px;
}

/* =================================== POPULAR ================================== */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    /* this is currentColor for svg */
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-top .control-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
    flex: 1;
}

.course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.course-item .thumb {
    margin: -1px;
    /* do ở trên margin -1 nên nó sẽ nở rộng ra 2 bên thêm 1px nên ở đây + 2 để ảnh lấp đầy phần mở thêm ra đó. */
    width: calc(100% + 2px);
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
    object-position: top center;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.course-item .rating .value {
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.course-item .head,
.course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.course-item .desc {
    --max-line: 2;
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.course-item .foot {
    margin-top: 12px;
}


.course-item .book-btn {
    border: none;
}

.course-item .book-btn:hover {
    background: var(--primary-color);
}

.course-item .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

/* =================================== FeedBack ================================== */
.feedback {
    margin-top: 135px;
    background: #2E2100;
    padding: 96px 0;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;

    /* Thêm hiệu ứng để trượt sang item thứ 2 */
    transform: translateX(-100%); /* F12 trên chrome bật tắt thuộc tính này sẽ thấy nó trượt */
    transition: all ease 0.3s;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feedback .content {
    width: 66%;
}

.feedback .content blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 153.846% */
}